html {
    text-align: center;
    margin: auto;
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: rgb(173, 216, 230);
}

body {
    position: fixed;
}

.logo .logo-img {
    width: 25px;
    height: auto;
    margin-right: 5px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    transition: a11 0.15s;
}
.logo > .logo-img:hover {
    border-color: rgb(240, 248, 255);
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo span {
    font-weight: 600;
    font-size: 24px;
    color: black;
}

.container {
    width: 500px;
    margin-left: 40%;
    padding: 10px;
    border-style: solid;
    border-color: rgb(207, 232, 243);
    border-width: 2px;
    background-color: rgb(240, 248, 255);
}
.container img {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.container ul {
    text-align: left;
    list-style-type: none;
    width: 80%;
    padding: 0;
    margin-left: 10%;
}

.container li {
    padding-bottom: 5px;
}

.container a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    transition: color 0.15s, text-decoration 0.15s;
}

.container a:hover {
    color: rgb(29, 118, 242);
    text-decoration: underline;
}